8 GB RAM:
llama-2-7b-chat.ggmlv3.q4_0.bin

Download Link : https://huggingface.co/TheBloke/Llama-2-7B-Chat-GGML/blob/main/llama-2-7b-chat.ggmlv3.q4_0.bin 

16+ GB RAM:
llama-2-7b-chat.ggmlv3.q8_0.bin

Download Link : https://huggingface.co/TheBloke/Llama-2-7B-Chat-GGML/blob/main/llama-2-7b-chat.ggmlv3.q8_0.bin